<%= image_tag 'shares2.jpeg', :alt => "", :size => "720x390", :class => "siteIcatch"%>

<div class="majorBox">
  <h2>英米</h2>
</div>

<div class="majorBox">
  <h2>フランス</h2>
</div>

<div class="majorBox">
  <h2>ドイツ</h2>
</div>

<div class="majorBox">
  <h2>スペイン</h2>
</div>

<div class="majorBox">
  <h2>中国</h2>
</div>

<div class="majorBox">
  <h2>国際関係</h2>
</div>

<div class="majorBox">
  <h2>社会福祉</h2>
</div>

<div class="majorBox">
  <h2>教育発達</h2>
</div>

<div class="majorBox">
  <h2>歴史文化</h2>
</div>

<div class="majorBox">
  <h2>情報</h2>
</div>


<!-- ログインしてない時にリダイレクトするページ -->

<div id="pageBody">
  <section class="mainVisual">
    <%= image_tag 'sea.jpeg', :size => '720x480' %>
    <div class="mainVisualText">
      <h1>Shares!</h1>
      <p>県大生の県大生による県大生のための情報共有の場</p>
    </div>
</section>
</div>

  <p>新規登録画面、ログイン画面が入る</p>





