<!DOCTYPE html>
<html>
  <head>
    <title>Shares!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- ログインしてない時にリダイレクトするページ -->

<div id="pageBody">
  <section class="mainVisual">
    <%= image_tag 'sea.jpeg', :size => '720x480' %>
    <div class="mainVisualText">
      <h1>Shares!</h1>
      <p>県大生の県大生による県大生のための情報共有の場</p>
    </div>
</section>
</div>

  <p>新規登録画面、ログイン画面が入る</p>

