<div class="user_post">
  <div class="user_image">
    <p>ユーザーのアイコンが入る</p>
  </div>
  <div class="post_titile">
    <p>投稿のタイトルが入る</p>
  </div>

</div>

<div class="user_image">

</div>


<div class="contents">
  <% @posts.each do |post| %>
    <p><%= post.lecture %></p>
  <% end %>
</div>

<%= paginate(@posts) %>
