.mainVisual .mainVisualText {
  position: absolute;
  left: 50px;
  bottom:50px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  width: 400px;
  padding: 15px, 25px;
  -moz-border-sizing: border-box;
  box-sizing: border-box;
}

.mainVisual .mainVisualText h1 {
  font-size: 26px;
  line-height: 1.231;
  margin: 0;
}

.mainVisual .mainVisualText p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0;
}

.mainVisual {
  position: relative;
}




